<a href="https://colab.research.google.com/github/halfChewedGum/ECON626Competitions/blob/main/assignment2(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- library to use: sklearn

Task 1. Multinomial Naive Bayes, 

class positive, negative

Step 0. Pre-processing

1. Read data
2. Tokenize
3. Bag of Words 
4. Train, Development, Test

In [ ]:
#open file 
path_to_pos = ''
path_to_neg = ''

pos_text = []
with open('pos.txt') as f:
    pos_text = f.readlines()
    posText = f.read()
    
#pos_text is now a list of lines from the text file. 
#posText is the entire text file. 
    
f.close()

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
with open('pos.txt') as file1:
    positives = file1.read()

print(type(positives))

FileNotFoundError: ignored

# New Section

In [ ]:
with open('neg.txt') as file2:
    negatives = file2.read()

In [ ]:
print(positives[:1000])

My daughter wanted this book and the price on Amazon was the best.
She has already tried one recipe a day after receiving the book.
I bought this zoku quick pop for my daughterr with her zoku quick maker.
She loves it and have fun to make her own ice cream.
I was hoping there were more where those came from.
This book emphasizes very sweet dessert pops, however.
There are 41 recipes in total, only 13 of which are fruit pops.
There is a "Fresh and Fruity" chapter, followed by three chapters of dessert pops entitled "I Scream for Quick Pops!", "Bake Shop", and  "Coco Loco".
As you might guess from the last one, there are 15 pop recipes that contain chocolate.Chapters on "Tips" and "Techniques" are useful.
There is more detailed information about ingredients that don't freeze well in the Zoku than is found in the instruction manual.
The pages about core pops are especially helpful, as they include recipes for pink, purple, and orange outer layers for brightly-colored core pops.
Many, incl

In [ ]:
print('positive reviews words length: ', len(positives))
print('negative reviews words length: ', len(negatives))

positive reviews words length:  32181338
negative reviews words length:  32432428

- Dataset of all the words that appear in the "positive" reviews. (similar DS for negative)

|word|frequency|label|

In [ ]:
#remove punctuations and special characters 
import string 
import re 

#all lower case: 

positives = positives.lower()
negatives = negatives.lower()

#remove all punctuations 
# string.punctuation 
positive_nopun = "".join([i for i in positives if i not in string.punctuation])
negative_nopun = "".join([i for i in negatives if i not in string.punctuation])

#remove all special characters 
positive_reviews = re.sub('[^A-Za-z0-9]+ ', '', positive_nopun)
negative_reviews = re.sub('[^A-Za-z0-9]+ ', '', negative_nopun)

In [ ]:
print('type of new data: ', type(positive_reviews))
print('size of new data - positives: ', len(positive_reviews))
print('size of new data - negatives: ', len(negative_reviews))
print('positive reviews first 1000 characters: ', positive_reviews[:1000])

type of new data:  <class 'str'>
size of new data - positives:  31198552
size of new data - negatives:  31405163
positive reviews first 1000 characters:  my daughter wanted this book and the price on amazon was the best
she has already tried one recipe a day after receiving the book
i bought this zoku quick pop for my daughterr with her zoku quick maker
she loves it and have fun to make her own ice cream
i was hoping there were more where those came from
this book emphasizes very sweet dessert pops however
there are 41 recipes in total only 13 of which are fruit pops
there is a fresh and fruity chapter followed by three chapters of dessert pops entitled i scream for quick pops bake shop andcoco loco
as you might guess from the last one there are 15 pop recipes that contain chocolatechapters on tips and techniques are useful
there is more detailed information about ingredients that dont freeze well in the zoku than is found in the instruction manual
the pages about core pops are especially helpful as they include recipes for pink purple and orange outer layers for brightlycolored core pops
many including the recipe for a vanilla base cal

In [ ]:
words_in_pos_before = 32181338
words_in_neg_before = 32432428
words_in_pos_after = 31198552
words_in_neg_after = 31405163
diff_positives = words_in_pos_before - words_in_pos_after
diff_negatives = words_in_neg_before - words_in_neg_after

print('how many characters/words got deleted in positive? ', diff_positives)
print('how many characters/words got deleted in negative? ', diff_negatives)

how many characters/words got deleted in positive?  982786
how many characters/words got deleted in negative?  1027265

In [ ]:
#tokenize or split 

positive_words = positive_reviews.split()
negative_words = negative_reviews.split()

<class 'list'>

In [ ]:
!pip install more-itertools

Collecting more-itertools
  Downloading more_itertools-8.13.0-py3-none-any.whl (51 kB)
     |████████████████████████████████| 51 kB 491 kB/s eta 0:00:01
Installing collected packages: more-itertools
Successfully installed more-itertools-8.13.0

In [ ]:
#time to fill up the datasets. let us now count how many of each word are in each list 
from collections import Counter
import more_itertools

counter_positive_words = dict(Counter(positive_words))
counter_negative_words = dict(Counter(negative_words))

print(type(counter_positive_words))
print(more_itertools.take(10, counter_positive_words.items()))

<class 'dict'>
[('my', 69563), ('daughter', 1017), ('wanted', 3373), ('this', 97282), ('book', 543), ('and', 183268), ('the', 297529), ('price', 9921), ('on', 48532), ('amazon', 4107)]

In [ ]:
#add this information to dictionaries: 

list_pos_words = []
list_neg_words = []
list_pos_freqs = []
list_neg_freqs = []


for key, value in counter_positive_words.items():
    list_pos_words.append(key)
    list_pos_freqs.append(value)
    

for key, value in counter_negative_words.items():
    list_neg_words.append(key)
    list_neg_freqs.append(value)
    
# print(list_neg_words[:10])
# print(list_pos_freqs[:5])

['i', 'bought', 'this', 'when', 'the', 'pop', 'maker', 'as', 'for', 'embellishing']
[69563, 1017, 3373, 97282, 543]

In [ ]:
#put all info in dictionaries to later convert to dataframes 
positive_dict_info = {
    'word': list_pos_words,
    'frequency': list_pos_freqs,
    'label': ['positive'] * len(list_pos_words)
}

negative_dict_info = {
    'word': list_neg_words,
    'frequency': list_neg_freqs,
    'label': ['negative'] * len(list_neg_words)
}

In [ ]:
import pandas as pd 

positive_db = pd.DataFrame.from_dict(positive_dict_info)
print(positive_db.head())


negative_db = pd.DataFrame.from_dict(negative_dict_info)

       word  frequency     label
0        my      69563  positive
1  daughter       1017  positive
2    wanted       3373  positive
3      this      97282  positive
4      book        543  positive

In [ ]:
#just for peace of mind, save copies on disk 

positive_db.to_csv('positive_set.csv')
negative_db.to_csv('negative_set.csv')

In [ ]:
#merget both datasets into one big database

df = pd.concat([positive_db, negative_db]) 
print(df.head())
print(df.tail())

       word  frequency     label
0        my      69563  positive
1  daughter       1017  positive
2    wanted       3373  positive
3      this      97282  positive
4      book        543  positive
                      word  frequency     label
127188             nfusion          1  negative
127189             bugeyed          1  negative
127190            simmilar          1  negative
127191     wellinteresting          1  negative
127192  buttonreactiontime          1  negative

If any two words are repeated in both, then choose the one with higher frequency and get rid of the other

In [ ]:
p_w_l = list(positive_db['word'])
n_w_l = list(negative_db['word'])

count = 0
for i in range(len(p_w_l)):
    for j in range(len(n_w_l)):
        if p_w_l[i] == n_w_l[j]:
            count += 1
        else:
            continue

In [ ]:
print('this many words are repeated in both corpus: ', count)

this many words are repeated in both corpus:  37692

In [ ]:
merged_df = pd.merge(positive_db, negative_db, on = ['word'])

In [ ]:
merged_df.head()

       word  frequency_x   label_x  frequency_y   label_y
0        my        69563  positive        62280  negative
1  daughter         1017  positive         1344  negative
2    wanted         3373  positive         3067  negative
3      this        97282  positive       100098  negative
4      book          543  positive          372  negative

In [ ]:
merged_df.tail()

           word  frequency_x   label_x  frequency_y   label_y
37687        pf            1  positive            7  negative
37688   swimmer            1  positive            1  negative
37689  fatality            1  positive            2  negative
37690     fouth            1  positive            1  negative
37691       yat            1  positive            1  negative

Then, for all the ones with different values of label - if the frequency_l > frequency_r then label_l is chosen and added to new column 'label'

In [ ]:
merged_df['label'] = merged_df['label_x'].where(merged_df['frequency_x'] > merged_df['frequency_y'], merged_df['label_y'])
merged_df.head()

       word  frequency_x   label_x  frequency_y   label_y     label
0        my        69563  positive        62280  negative  positive
1  daughter         1017  positive         1344  negative  negative
2    wanted         3373  positive         3067  negative  positive
3      this        97282  positive       100098  negative  negative
4      book          543  positive          372  negative  positive

In [ ]:
merged_df.tail()

           word  frequency_x   label_x  frequency_y   label_y     label
37687        pf            1  positive            7  negative  negative
37688   swimmer            1  positive            1  negative  negative
37689  fatality            1  positive            2  negative  negative
37690     fouth            1  positive            1  negative  negative
37691       yat            1  positive            1  negative  negative

In [ ]:
merged_df.drop(columns = ['frequency_x', 'frequency_y', 'label_x', 'label_y'])

           word     label
0            my  positive
1      daughter  negative
2        wanted  positive
3          this  negative
4          book  positive
...         ...       ...
37687        pf  negative
37688   swimmer  negative
37689  fatality  negative
37690     fouth  negative
37691       yat  negative

[37692 rows x 2 columns]

In [ ]:
similar_words = list(merged_df['word'])

for i in range(len(similar_words)):
    for j in range(len(list(df['word']))):
        if df.iloc[j,1] == similar_words[i]:
            df.drop(i, axis = 0, inplace = True)

        
df.head()

In [ ]:

df.drop(columns = ['frequency'])
database_full = pd.concat(merged_df, df)

print(database_full.head())
print('----------------------------------')
print(database_full.tail())

As per instructions, Training data is 80%, test data is 10% and development/validation data is 10%.

In [ ]:
from sklearn.model_selection import train_test_split

y = database_full['label']
x = database_full['word']

x_train, x_part2, y_train, y_part2 = train_test_split(x, y, test_size = 0.2, random_state = 0)

x_test, x_dev, y_test, y_dev = train_test_split(x_part2, y_part2, test_size = 0.5, random_state = 1)

In [ ]:
#save all the files into excel csv files

x_train.to_csv('x_train.csv')
y_train.to_csv('y_train.csv')
x_test.to_csv('x_test.csv')
y_test.to_csv('y_test.csv')
x_dev.to_csv('x_dev.csv')
y_dev.to_csv('y_dev.csv')

In [ ]:

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
import numpy as np
import pickle 


def remove_stopwords(dat):
    v = CountVectorizer(stop_words='english')
    dat_ = v.fit_transform(dat).toarray()
    
    return dat_

def train_naive_bayes(xd, yd, xdt, ydt):
    model = MultinomialNB()
    model.fit(xd, yd)
    score = model.score(xdt, ydt)
    prediction = model.predict(xdt)
    
    return model, score, prediction
    
def naive_bayes_results(y_true, y_pred):
    results = list(precision_recall_fscore_support(y_true, y_pred, average = 'weighted'))
    precision = results[0]
    recall = results[1]
    fscore = results[2]
    
    print('Results of Multinomial Naive Bayes: ')
    print('------------------------------------')
    print('precision : ', precision)
    print('recall : ', recall)
    print('fscore : ', fscore)
    
def unigram(exl):
    """
    Takes as input a list ( [1,2,3,4] ) 
    returns single elements one-by-one in order 
    [(1),(2),(3),(4)]
    """
    emp = []
    for i in range(len(exl)):
        emp.insert(i, tuple(exl[i]))
    
    return emp

def bigram(exl):
    """
    Takes as input a list ( [1,2,3,4] )
    returns pairs of elements two-by-two in order:
    [(1,2), (2,3), (3,4)]
    """
    emp = []
    
    for i in range(len(exl)-1):
        emp.insert(i, (exl[i],exl[i+1]))
    
    return emp 

def uni_bigram(exl):
    """
    Takes as input a list ( [1,2,3,4] )
    returns pairs of elements two-by-two in order:
    [(1),(2),(3),(4),(1,2), (2,3), (3,4)]
    """
    
    uni = unigram(exl)
    bi = bigram(exl)
    uni_bi = uni.extend(bi)
    
    return uni_bi


def call_for_results(xd, xdt, yd, ydt):
    s = train_naive_bayes(xd, xdt, yd, ydt)[1]
    p = train_naive_bayes(xd, xdt, yd, ydt)[2]
    
    print('Score for NB(1.1): ', s)
    print('-----------------')
    
    naive_bayes_results(ydt, p)

    return "---------------------"

def make_pickl_file(fn, m):
    pickle.dump(m, open(fn, 'wb')
                
    return 'pickled.'

1.1 Stopwords Removed, Unigrams

In [ ]:
#remove stopwords 
x_train_1 = remove_stopwords(x_train) 
x_dev_1 = remove_stopwords(x_dev)
x_test_1 = remove_stopwords(x_test)
y_train_1 = remove_stopwords(y_train)
y_dev_1 = remove_stopwords(y_dev)
y_test_1 = remove_stopwords(y_test)

#unigrams 
x_train_uni_11 = unigram(x_train_1)
x_dev_uni_11 = unigram(x_dev_1)
x_test_uni_11 = unigram(x_test_1)
y_train_uni_11 = unigram(y_train_1)
y_dev_uni_11 = unigram(y_dev_1)
y_test_uni_11 = unigram(y_test_1)


#parameter tuning for later! 
call_for_results(x_train_1, x_test_1,y_train_1, y_test_1)

#pickling
file_11 = 'mnb_uni_ns.pkl'
m11 = train_naive_bayes(x_train_1, x_test_1,y_train_1, y_test_1)[0]
make_pickl_file(file_11, m11)

1.2 Stopwords Removed, Bigrams

In [ ]:
#unigrams 
x_train_uni_12 = bigram(x_train_1)
x_dev_uni_12 = bigram(x_dev_1)
x_test_uni_12 = bigram(x_test_1)
y_train_uni_12 = bigram(y_train_1)
y_dev_uni_12 = bigram(y_dev_1)
y_test_uni_12 = bigram(y_test_1)

call_for_results(x_train_uni_12, x_test_uni_12,y_train_uni_12, y_test_uni_12)

file_12 = 'mnb_bi_ns.pkl'
m12 = train_naive_bayes(x_train_uni_12, x_test_uni_12,y_train_uni_12, y_test_uni_12)[0]
make_pickl_file(file_12, m12)

1.3 Stopwords Removed, unigrams and bigrams

In [ ]:
x_train_uni_13 = uni_bigram(x_train_1)
x_dev_uni_13 = uni_bigram(x_dev_1)
x_test_uni_13 = uni_bigram(x_test_1)
y_train_uni_13 = uni_bigram(y_train_1)
y_dev_uni_13 = uni_bigram(y_dev_1)
y_test_uni_13 = uni_bigram(y_test_1)

call_for_results(x_train_uni_13, x_test_uni_13,y_train_uni_13, y_test_uni_13)

file_13 = 'mnb_uni_bi_ns.pkl'
m13 = train_naive_bayes(x_train_uni_13, x_test_uni_13,y_train_uni_13, y_test_uni_13)[0]
make_pickl_file(file_13, m13)

1.4 Including stopwords, Unigrams

In [ ]:
#unigrams 
x_train_uni_14 = unigram(x_train)
x_dev_uni_14 = unigram(x_dev)
x_test_uni_14 = unigram(x_test)
y_train_uni_14 = unigram(y_train)
y_dev_uni_14 = unigram(y_dev)
y_test_uni_14 = unigram(y_test)

call_for_results(x_train_uni_14, x_test_uni_14,y_train_uni_14, y_test_uni_14)

file_14 = 'mnb_uni.pkl'
m14 = train_naive_bayes(x_train_uni_14, x_test_uni_14,y_train_uni_14, y_test_uni_14)[0]
make_pickl_file(file_14, m14)

1.5 Including stopwords, Bigrams

In [ ]:
x_train_uni_15 = bigram(x_train)
x_dev_uni_15 = bigram(x_dev)
x_test_uni_15 = bigram(x_test)
y_train_uni_15 = bigram(y_train)
y_dev_uni_15 = bigram(y_dev)
y_test_uni_15 = bigram(y_test)

call_for_results(x_train_uni_15, x_test_uni_15,y_train_uni_15, y_test_uni_15)
file_15 = 'mnb_bi.pkl'
m15 = train_naive_bayes(x_train_uni_15, x_test_uni_15,y_train_uni_15, y_test_uni_15)[0]
make_pickl_file(file_15, m15)

1.6 Including stopwords, unigrams and bigrams

In [ ]:
x_train_uni_16 = uni_bigram(x_train)
x_dev_uni_16 = uni_bigram(x_dev)
x_test_uni_16 = uni_bigram(x_test)
y_train_uni_16 = uni_bigram(y_train)
y_dev_uni_16 = uni_bigram(y_dev)
y_test_uni_16 = uni_bigram(y_test)

call_for_results(x_train_uni_16, x_test_uni_16,y_train_uni_16, y_test_uni_16)
file_16 = 'mnb_uni_bi.pkl'
m16 = train_naive_bayes(x_train_uni_16, x_test_uni_16,y_train_uni_16, y_test_uni_16))[0]
make_pickl_file(file_16, m16)

Task 2.

Question 2.1. 

Which condition performed better: with or without stopwords?

Question 2.2 

Which condition performed better: unigrams, bigrams or unigrams+bigrams?